---
import BaseLayout from "../layouts/BaseLayout.astro";
import mainContent from "../content/pages/allgemeine-geschaeftsbedingungen.html?raw";
---

<BaseLayout
  title={"Allgemeine Gesch&auml;ftsbedingungen | Duschrinnen Profi"}
  description={"Allgemeine Gesch&auml;ftsbedingungen von Duschrinnen Profi f&uuml;r Bestellungen, Lieferung und Zahlungsabwicklung."}
  page={"legal"}
  ogTitle={"Allgemeine Gesch&auml;ftsbedingungen | Duschrinnen Profi"}
  ogDescription={"Allgemeine Gesch&auml;ftsbedingungen von Duschrinnen Profi f&uuml;r Bestellungen, Lieferung und Zahlungsabwicklung."}
>
  <main id="main" set:html={mainContent}></main>
</BaseLayout>
