---
import BaseLayout from "../layouts/BaseLayout.astro";
import mainContent from "../content/pages/datenschutz.html?raw";
---

<BaseLayout
  title={"Datenschutzerkl&auml;rung | Duschrinnen Profi"}
  description={"Datenschutzerkl&auml;rung von Duschrinnen Profi f&uuml;r Website, Kontaktformulare, Kundenkonto und Bestellungen."}
  page={"legal"}
  ogTitle={"Datenschutzerkl&auml;rung | Duschrinnen Profi"}
  ogDescription={"Datenschutzerkl&auml;rung von Duschrinnen Profi f&uuml;r Website, Kontaktformulare, Kundenkonto und Bestellungen."}
>
  <main id="main" set:html={mainContent}></main>
</BaseLayout>
