---
import BaseLayout from "../layouts/BaseLayout.astro";
import mainContent from "../content/pages/mein-konto.html?raw";
---

<BaseLayout
  title={"Mein Konto | Duschrinnen Profi"}
  description={"Kundenkonto von Duschrinnen Profi f&uuml;r Login, Registrierung, Profil und Bestell&uuml;bersicht."}
  page={"account"}
  ogTitle={"Mein Konto | Duschrinnen Profi"}
  ogDescription={"Kundenkonto von Duschrinnen Profi f&uuml;r Login, Registrierung, Profil und Bestell&uuml;bersicht."}
>
  <main id="main" set:html={mainContent}></main>
</BaseLayout>
