<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=ratgeber.html" />
    <title>Weiterleitung | Ratgeber</title>
    <link rel="canonical" href="ratgeber.html" />
  </head>
  <body>
    <p>Weiter zum <a href="ratgeber.html">Ratgeber</a>.</p>
  </body>
</html>
